.container4{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  z-index:2;
  /* height:100vh; */
}
.container4 .card{
  vertical-align:top;
  width:280px;
  height:282px;
  position:relative;
  margin:30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
  border-radius:25px;
  background-color:rgba(255,255,255, 0.1);
  overflow:hidden;
  display:flex;
  /* justify-content:center;
  align-items:center; */
  backdrop-filter:blur(5px);
  /* text-align:center; */
}
.card .content{
  padding:20px;
  transition:0.8s all ease;
  color:#252525;
  transform:translateY(200px);
  opacity:0;
}
.card:hover .content{
  transform:translateY(0px);
  opacity:1;
}
.card img{
  position:absolute;
  /* filter: invert(82%) sepia(60%) saturate(2929%) hue-rotate(353deg) brightness(105%) contrast(103%); */
  /* width:140px; */
  /* top:50px;
  opacity:0.2;
  z-index:-1; */
}
/* h1{
  color:#fff;
  text-align:center;
  z-index:9;
  position:relative;
  margin-bottom:-20px;
  padding-bottom:0;
  padding-top:20px;
  font-weight:400;
} */
.card .content h2{
  color:#252525;
  font-weight:400;
}
.card .content a{
  display:inline-block;
  margin-top:20px;
  text-decoration:none;                                                                                                                                                                                                                                                                                                                                                                                     
  padding:8px 30px 11px;
  border:2px solid #00A650;
  text-transform:uppercase;
  color:#fff;
  border-radius:50px;
  box-shadow: 0px 5px 50px rgba(0,0,0,0.8);
  transition:0.8s all ease;
  background-color: #252525;
}
.card .content a:hover{
  background: #00A650;
}



@media only screen and (max-width:900px) {
  .container4{
    display:grid;
  }
  .container4{
  justify-content: center;
  align-items: center;
  /* margin-left: 42 px; */
}
}